<%- include('partials/header') %>
<h1>Logueate</h1>
<form action="./login" method="post">
   
    <input type="email" name="user_email" placeholder="Email">
    <input type="password" name="user_pass" placeholder="Contraseña">
    <button type="submit">Logueate</button>
</form>




<%- include('partials/footer') %>