<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stilos.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="../">Home</a>
        <a href="../login">Login</a>
        <a href="../registro">Registro</a>
    </nav>
    
</body>
</html>